.footer {
    width: 800px;
    margin-left: auto;
    margin-right: auto;

    .join-us-telegram-btn {
        display: flex;
        justify-content: center;

        a {
            text-decoration: none;
            color: #FFF700;
        }
    }

    .partners {
        margin-top: 30px;
        margin-bottom: 30px;
        display: flex;
        display: flex;
        justify-content: center;

        .partner-brand {
            display: flex;
            align-self: center;
            margin-left: 20px;
            margin-right: 20px;
        }
    }

    .brand-title {
        display: flex;
        justify-content: center;
    }

    .disclaimer {
        margin-top: 10px;
        display: flex;
        color: #FFF700;
        display: flex;
        justify-content: center;

        .title,
        .btn {
            display: flex;
            align-self: center;
        }
    }
}