.sortable-table {
    border-radius: 10px;
    overflow-y: scroll;
    height: 500px;

    table {
        width: 100%;
        border-collapse: collapse;

        thead {
            position: sticky;
            top: 0;
            background-color: black;
            color: white;

            th {
                text-align: center;
                border-bottom: 2px solid black;
            }

            button {
                border: 0;
                border-radius: none;
                font-family: inherit;
                font-weight: 700;
                font-size: inherit;
                padding: 0.5em;
                margin-bottom: 1px;
                cursor: pointer;
                background-color: black;
                color: white;

                &:hover {
                    color: #FFF700;
                }
            }

            button.ascending::after {
                display: inline-block;
            }

            button.descending::after {
                display: inline-block;
            }
        }

        tbody {
            td {
                text-align: center;
                margin-left: auto;
                margin-right: auto;
                padding: 0.5em;
                border-bottom: 1px solid #ccc;
            }

            td:first-child {
                text-align: left;
            }

            tr {
                background-color: #eee;
            }

            .links {
                display: flex;
                justify-content: center;
                margin-top: 5px;

                .link-item {
                    margin-left: 5px;
                    margin-right: 5px;
                }
            }

            .tokens {
                display: flex;
                justify-content: center;

                .token,
                .chain {
                    display: flex;
                    align-self: center;
                }

                .token {
                    margin-left: 10px;
                }
            }

            .positive {
                color: rgb(64, 143, 47);
            }

            .negative {
                color: red;
            }

            .security-info {
                display: flex;
                justify-content: center;

                .info-icon {
                    margin-left: 10px;
                }
            }

            .h-center {
                display: flex;
                justify-content: center;
            }
        }
    }
}