.homepage {
    .navbar-field {
        position: sticky;
        top: 0;
    }

    .main-field {
        border-radius: 10px;
        padding: 20px;
        margin: 20px;
        background-color: rgba(1, 31, 60, 0.4);

        .banner-field {
            margin-bottom: 20px;
        }

        .news-carousel-field {
            margin-bottom: 20px;
        }
    }

    .footer-field {
        margin-bottom: 50px;
    }
}